<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="carbon.mapper.MemberMapper">

	<select id="select_member" resultType="carbon.dto.MemberDto">
		SELECT * FROM TEST_MEMBER
	</select>

	<select id="check_id" resultType="carbon.dto.MemberDto">
		SELECT * FROM TEST_MEMBER where member_id=#{member_id} 
	</select>
	
	<select id="check_pwd" resultType="carbon.dto.MemberDto">
		SELECT * FROM TEST_MEMBER where member_id=#{member_id} and member_pwd =#{member_pwd} 
	</select>

	<insert id="insert_member">
		insert into test_member (member_id,
		member_pwd, member_name)
		values (#{member_id}, #{member_pwd}, #{member_name})
	</insert>

</mapper>