@charset "UTF-8";

.mb-0{
	font-weight: 600;
}

/* 셀렉트박스 커스텀 */
.pl {
	width: 105px;
	border: 1px solid #C4C4C4;
	box-sizing: border-box;
	border-radius: 10px;
	padding: 5px 10px; /* 8px 13px */
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
}
 
/* 스크롤바 커스텀 */
.table-responsive{
    padding: 20px;
    overflow-y: scroll;
    box-sizing: border-box;
    color: white;
    font-family: 'Nanum Gothic';
}

/* 스크롤바 설정*/
.table-responsive::-webkit-scrollbar{
    width: 10px;
}

/* 스크롤바 막대 설정*/
.table-responsive::-webkit-scrollbar-thumb{
    background-color: rgba(255,255,255,1);
    /* 스크롤바 둥글게 설정    */
    border-radius: 10px;    
}

/* 스크롤바 뒷 배경 설정*/
.table-responsive::-webkit-scrollbar-track{
    background-color: rgba(0,0,0,0);
}