@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-dynamic-subset.css");
/*css reset*/
/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
    font-family: "Pretendard Variable";
} */
/* HTML5 display-role reset for older browsers */
/* article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.main-panel {padding-top: 70px;}
.content-wrapper {padding: 30px;}
.row {--bs-gutter-x: 20px;}
.row > * {padding:0 10px;}
.num-large {font-size:60px; font-weight: 800;}
.card .card-title {font-weight: 600; font-size: 20px;}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link .navbar-profile .navbar-profile-name {font-size: 16px;}
.preview-list .preview-item .preview-item-content p {font-size: 16px;}
.menu-title + .fa-chevron-down {margin-left: auto; font-size: 14px;}
.sidebar .nav .nav-item .nav-link {color: #888;}
.sidebar .nav .nav-item .nav-link .menu-title {font-size: 16px;}
.sidebar .nav.sub-menu .nav-item .nav-link {font-size: 16px;} */
/*왼쪽 사이드바 접혔을 때 메뉴 오른쪽 화살표 아이콘 숨기기*/
/* body.sidebar-icon-only .menu-title + .fa-chevron-down {display: none;}
select.pl {font-size: 14px;} */

/*왼쪽 사이드바 메뉴에 커서 올렸을 때 호버효과*/
/* .sidebar .nav .nav-item .menu-icon {background-color:transparent;}
.sidebar .nav .nav-item .menu-icon i {transition: all 0.5s;}
.sidebar .nav .menu-items:nth-child(5n+1) .nav-link .menu-icon i {color:#113bd4;}
.sidebar .nav .menu-items:nth-child(5n+2) .nav-link .menu-icon i {color:#11c4d4;}
.sidebar .nav .menu-items:nth-child(5n+3) .nav-link .menu-icon i {color:#4f11d4;}
.sidebar .nav:not(.sub-menu) > .nav-item:hover:not(.nav-category):not(.account-dropdown) > .nav-link {background:#113bd4; color: #fff;}
.sidebar .nav:not(.sub-menu) > .nav-item:hover:not(.nav-category):not(.account-dropdown) > .nav-link .menu-icon i {color:#fff;}
.sidebar .nav-link[aria-expanded="true"], .sidebar .nav-link:active {background-color: #113bd4; color: #fff !important;}
.sidebar .nav-link[aria-expanded="true"] i {background-color: #113bd4; color: #fff !important;} */
/*숫자만 있는 차트 박스 4개*/
.num-large {font-size:40px; font-weight: 800;}
.num-data-box {padding: 0;}
.num-data-box .col-lg-6 {margin:0 0 inherit 0; padding:0 0 0 20px;}
/* footer {left: 244px !important; font-size: 14px; height: 50px; padding: 0 30px; color: #6c7293; font-weight: 400;} */
